.pkb_inside_loop{
    width: 100%;
}

/*************
Header Navigation Toggle 
************/
.site-header__category-navigation {
    background: #333;
    height: 3rem;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.site-header__category-navigation .nav-tabs {
    border-color: transparent;
    justify-content: space-between;
    padding: 0.4rem 0;
}
.site-header__category-navigation .nav-tabs .nav-link {
    margin: 0;
    border: none;
    border-radius: 0;
    background: none !important;
    font-family: Quicksand;
    text-align: center;
    color: #bfbfbf;
    background-color: none !important;
    padding: 0 1rem;
}
.site-header__category-navigation .nav-tabs .nav-link i {
    width: 7rem;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    visibility: hidden;
}
.site-header__category-navigation .nav-tabs .nav-link i svg {
    width: 100%;
}
.site-header__category-navigation .nav-tabs .nav-link i svg g,
.site-header__category-navigation .nav-tabs .nav-link i svg path {
    fill: #bfbfbf;
}
.site-header__category-navigation .nav-tabs .nav-link.active,
.site-header__category-navigation .nav-tabs .nav-link:hover {
    color: #fff;
}
.site-header__category-navigation .nav-tabs .nav-link.active i svg g,
.site-header__category-navigation .nav-tabs .nav-link.active i svg path,
.site-header__category-navigation .nav-tabs .nav-link:hover i svg g,
.site-header__category-navigation .nav-tabs .nav-link:hover i svg path {
    fill: #fff;
}
.site-header__category-navigation .nav-tabs .nav-link:hover {
    color: #fff;
}
.site-header__category-navigation .category-item {
    color: #fff;
    padding: 1.5rem 0 2.4rem;
}
.site-header__category-navigation .category-item p {
    width: 25rem;
    padding-left: 4rem;
    font-size: 1.4rem;
    font-family: Quicksand;
}
.site-header__category-navigation .category-item .sites .site {
    margin: 0 2rem;
    width: 15rem;
}
.site-header__category-navigation .category-item .sites .site h3 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    font-family: Quicksand;
}
.site-header__category-navigation .category-item .sites .site a {
    color: #fff;
    background: url(img/network-outgoing-link.white.svg) no-repeat top 0.5rem left;
    background-size: 1.3rem 1.3rem;
    padding-left: 1.8rem;
}
.site-header__category-navigation .close-category-item {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0;
}
.site-header__category-navigation.open {
    height: auto;
    overflow: visible;
}
.site-header__category-navigation.open .nav-tabs {
    border-color: #aaa;
    padding: 1.9rem 0;
}
.site-header__category-navigation.open .nav-tabs .nav-link i {
    height: 7rem;
    visibility: visible;
    margin: 0 auto 0.5rem;
}
.site-header__category-navigation.open .close-category-item {
    visibility: visible;
    opacity: 1;
}
