/** Plugin feature for header navigation */
/*
.site-header {
    &__category-navigation {
        background: #333;
        height: 3rem;
        overflow: hidden;
        @include transition();
        .nav-tabs {
            border-color: transparent;
            justify-content: space-between;
            padding: 0.4rem 0;
            .nav-link {
                margin: 0;
                border: none;
                border-radius: 0;
                background: none;
                font-family: $title-font;
                text-align: center;
                color: #bfbfbf;
                padding: 0 1rem;
                i {
                    width: 7rem;
                    height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    visibility: hidden;
                    svg {
                        width: 100%;
                        path {
                            fill: #bfbfbf;
                        }
                        g {
                            fill: #bfbfbf;
                        }
                    }
                }
                &.active,
                &:hover {
                    color: #fff;
                    i {
                        svg {
                            path {
                                fill: #fff;
                            }
                            g {
                                fill: #fff;
                            }
                        }
                    }
                }
                &:hover {
                    color: #fff;
                }
            }
        }
        .category-item {
            color: #fff;
            padding: 1.5rem 0 2.4rem;
            p {
                width: 25rem;
                padding-left: 4rem;
                font-size: 1.4rem;
                font-family: $title-font;
            }
            .sites {
                .site {
                    margin: 0 2rem;
                    width: 15rem;
                    h3 {
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.8rem;
                        font-family: $title-font;
                    }
                    a {
                        color: #fff;
                        background: url("#{$theme-imgpath}/network-outgoing-link.white.svg")
                            no-repeat top 0.5rem left;
                        background-size: 1.3rem 1.3rem;
                        padding-left: 1.8rem;
                    }
                }
            }
        }
        .close-category-item {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            visibility: hidden;
            opacity: 0;
        }
        &.open {
            height: auto;
            overflow: visible;
            .nav-tabs {
                border-color: #aaa;
                padding: 1.9rem 0;
                .nav-link {
                    i {
                        height: 7rem;
                        visibility: visible;
                        margin: 0 auto 0.5rem;
                    }
                }
            }
            .close-category-item {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
*/


.site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $default-text-color;
    @include transition();
    transform: translateX(-100%);
    @include respond(md) {
        box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.16);
        border-top: 0.4rem solid $primary-color;
        position: absolute;
        top: auto;
        z-index: 1;
        width: 100%;
        height: auto;
        background: #fff;
        transform: translateX(0);
    }
    .nav {
        display: block;
        border-top: 0.4rem solid $primary-color;
        @include respond(md) {
            display: flex;
            justify-content: space-between;
            border: none;
        }
        .nav-item {
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
            @include respond(md) {
                border: none;
            }
            .nav-link {
                font-weight: 400;
                color: #fff;
                padding: 0.75rem 1rem;
                font-family: $title-font;
                font-size: 1.8rem;
                @include respond(md) {
                    color: $default-text-color;
                    font-family: $default-font;
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding: 1.25rem 1rem;
                }
                &.active,
                &:hover {
                    color: $primary-color;
                    font-weight: 700;
                }
            }
        }
    }
    .close-mobile-nav {
        margin: 0 0 0 1rem;
        width: 2.5rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(md) {
            display: none;
        }
    }
    @include respond(md) {
        &.sticky {
            position: fixed;
            top: 0;
        }
    }
}

.mobile-nav-expand {
    .site-navigation {
        @include transition();
        transform: translateX(0);
    }
}

.mobile-header {
    background: $default-text-color;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 0.95rem 0;
    .open-mobile-nav {
        position: absolute;
        top: 0.8rem;
        left: 1rem;
        cursor: pointer;
        z-index: 1;
    }
    h3 {
        margin: 0;
        font-size: 1.8rem;
    }
    .mobile-language-selector {
        position: absolute;
        top: 0.8rem;
        right: 1rem;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-family: $title-font;
        font-weight: 700;
        text-align: center;
        border: 0.1rem solid #fff;
        border-radius: 0.4rem;
        width: 8rem;
        height: 2.4rem;
        font-size: 1.3rem;
    }
}
