// Color variable
$primary-color: #b40000;
$gray-text-color: #969696;
$default-text-color: #373737;
$dark-color: #000;

// Font Family
$title-font: "Quicksand";
$default-font: "Roboto Slab";

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
